@font-face {
  font-family: 'Ubuntu-R';
  src: url("../fonts/ubuntu-400.woff2");
  font-weight: 400;
}

@font-face {
  font-family: 'Ubuntu-M';
  src: url("../fonts/ubuntu-500.woff2");
  font-weight: 500;
}

@font-face {
  font-family: 'Ubuntu-B';
  src: url("../fonts/ubuntu-700.woff2");
  font-weight: 700;
}