//colors
//main
$black: #000;
$gray: #b2b3b3;
$blue: #00a0e3;
$olive: #b0cb1f;

//text
$text-color: #151515;
$placeholder: #727272;

// button, input
$button-color: #0190cc;
$button-focus: #0077AA;
$button-red: #ce0202;
$button-dark-red: #b50000;

//border
$border-color: #82bbd7;

//box-shadow
$box-shadow: rgba(0, 0, 0, 0.22);

//other
$white: #ffffff;
$light-gray: #f3f3f3;
$dark-olive: #7d9017;
$dark-blue: #394e62;
$black-half-opacity: rgba(0, 0, 0, 0.5);
$half-gray: #d5d5d5;


//vars
//border
$border-radius: 5px;